.container{
    width:40%;
    height:80%;
    background-color: lightgray;
}
.center-align{
    text-align: center;
}
.contacts_title{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-weight: bold;
}
.add-button{
    box-shadow: white;
    border-radius: 5px;
    width:150px;
    height:40px;
    line-height: 20px;
    font-size: small;
    font-weight: bold;
    background-color: #34a4eb;
    float: right;
    font-family: sans-serif;
    color:white;
    margin-right: 20px;
    transition-duration: 0.7s;
}
.add-button:hover{
    font-size: medium;
    transition: font-size .9s;
    
}